.App-header {
  background-color: #00010e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mainButton {
  width: 200px;
  height: 50px;
  border-radius: 300px;
  background-color: rgb(116, 65, 175);
  color: white;
  transition-duration: 0.5s;
  font-size: 20px;
  border: none;
  position: absolute;
  top: 650px;

  font-family: 'Hind', sans-serif;


}

.mainButton:hover {
  background-color:rgb(166, 112, 216);
}

.prompt {
  text-align: center;
  font-family: 'Proza Libre', sans-serif; 

}

.textStyle {
  text-align: center;
  font-size: 20px;
  color: white;
  position: absolute;
  top: 200px;
  font-family: 'Hind', sans-serif;

}

.title {
  position: absolute;
  top: 10px;
  text-align: center;
  font-family: 'Proza Libre', sans-serif; 

  background: radial-gradient(circle, #F48FB1 0%,  #CE93D8 20%, #B2EBF2 40%, #A5D6A7 60%, #B39DDB 100%);
  -webkit-background-clip: text;
  color: transparent;
  background-size: 400%;
  animation: gradient 7s linear infinite alternate;
  margin-bottom: 0px;
  margin-top:0px;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}