.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mainButton {
  width: 200px;
  height: 50px;
  border-radius: 300px;
  background-color:rgb(166, 112, 216);
  color: white;
  transition-duration: 0.5s;
  font-size: 20px;
  border: none;
}

.mainButton:hover {
  background-color: rgb(40, 81, 192);
}

.prompt {
  text-align: center;
}

.textStyle {
  text-align: center;
  font-size: 16px;
  color: white;
}

